@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:15:36 PM Author     : pcgc7
*/
/****************************** Variables *************************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:39:07 PM Author     : pcgc7
*/
/******************** Estilos generales de la página **************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:37:51 PM Author     : pcgc7
*/
* { box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; background-image: url("../imagenes/fondoAzul.jpg"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }

::-webkit-scrollbar { display: none; }

/******************** Estilos contenedor de la página *************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:32:17 PM Author     : pcgc7
*/
.contenedor { display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 16em repeat(10, 1fr); grid-template-areas: "encabezado encabezado encabezado encabezado encabezado encabezado" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad" "actividad  actividad  actividad  actividad  actividad  actividad"; /******************** Estilos encabezado de la página *********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 06:37:13 PM Author     : pcgc7
*/ /******************** Estilos contenidos de la página *********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 06:33:00 PM Author     : pcgc7
*/ /****************************** Mixin *****************************************/ /******************************************************************************/ /**************************************************************************/ }
.contenedor .encabezado { grid-area: encabezado; width: 100%; position: fixed; top: 0; z-index: 20; background: linear-gradient(to right, #f5f5f5 0%, #b59a47 100%); box-shadow: 0 0.75em 0.75em 0 rgba(0, 0, 0, 0.5); }
.contenedor .encabezado .logo { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.contenedor .encabezado .logo img { width: 65%; padding: 1.75em; }
.contenedor .encabezado .logo .btnMenu { display: none; color: #003958; text-decoration: none; font-size: 1.5em; padding-right: 1.75em; }
.contenedor .encabezado .menu { display: flex; flex-direction: row; justify-content: space-around; border-top: 0.0625em solid #003958; }
.contenedor .encabezado .menu a { padding: 0.5em 1em; margin: 1em 0; font-size: 1em; font-weight: 700; color: #003958; text-decoration: none; transition: all 0.3s ease; border-bottom: 0.16em solid transparent; }
.contenedor .encabezado .menu a:hover { border-bottom: 0.16em solid #003958; }
.contenedor .encabezado .menu a i { margin-right: 0.75em; }
.contenedor .contenido { grid-area: actividad; max-width: 70%; margin: 0 auto; padding: 1.25em; background: #f5f5f5; border-radius: 0.625em; border: 0.125em solid #b59a47; box-shadow: 0 0.75em 0.75em 0 rgba(0, 0, 0, 0.5); }
.contenedor .contenido h1 { font-size: 2em; font-weight: bold; margin: 0.3125em 0; color: #003958; }
.contenedor .contenido hr { margin-bottom: 1.5em; height: 0.2em; background: #b59a47; border: none; }
.contenedor .contenido .contenedorActividades { display: grid; grid-gap: 0 1.5em; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr); }
.contenedor .contenido .contenedorActividades .detalleActividad { display: flex; flex-direction: column; }
.contenedor .contenido .contenedorActividades h2 { font-size: 1.5em; margin: 0.5em 0; color: #003958; }
.contenedor .contenido .contenedorActividades .actividad { display: grid; grid-gap: 0 1em; grid-template-rows: repeat(1, 5em); justify-items: center; align-items: center; text-align: justify; border-bottom: 0.0625em solid #ccc; grid-template-columns: 6em 4em 1fr; }
.contenedor .contenido .contenedorActividades .actividad:last-child { border-bottom: none; }
.contenedor .contenido .contenedorActividades .actividad .dia { font-size: 2em; text-align: center; font-weight: bold; color: #003958; }
.contenedor .contenido .contenedorActividades .actividad .mes { font-weight: bold; color: #cc0000; }
.contenedor .contenido .contenedorActividades .actividad > i { font-size: 2em; color: #003958; }
.contenedor .contenido .contenedorActividades .actividad > p { justify-self: start; align-content: center; color: #003958; }
.contenedor .contenido .contenedorOtrasActividades { display: grid; grid-gap: 0 1em; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(1, 1fr); /* Definimos el tamaño de las imagenes para que ocupen el tamaño de la celda y no de la pantalla completa */ /* Agregamos estilos al contenedor donde se va a almacenar la imagen de tipo lightbox */ /* Creamos una clase extra para lograr que el valor de la propiedad transform pase de -100 a 0 */ /* Definimos el tamaño de la imagen que se va a agrandar cuando la escojamos */ /* Se muestra la imagen en un tamaño más amplio */ /* Agregamos estilos al texto que acompaña debajo de cada imagen  */ /* Agregamos estilos al icono y una posición en la pantalla */ }
.contenedor .contenido .contenedorOtrasActividades .detalleActividad { display: flex; flex-direction: column; }
.contenedor .contenido .contenedorOtrasActividades h2 { font-size: 1.5em; margin: 0.5em 0; color: #003958; }
.contenedor .contenido .contenedorOtrasActividades .actividad { display: grid; grid-gap: 0 1em; grid-template-rows: repeat(1, 6em); justify-items: center; align-items: center; text-align: justify; border-bottom: 0.0625em solid #ccc; grid-template-columns: 6em 1fr; }
.contenedor .contenido .contenedorOtrasActividades .actividad:last-child { border-bottom: none; }
.contenedor .contenido .contenedorOtrasActividades .actividad .dia { font-size: 2em; text-align: center; font-weight: bold; color: #003958; }
.contenedor .contenido .contenedorOtrasActividades .actividad .mes { font-weight: bold; color: #cc0000; }
.contenedor .contenido .contenedorOtrasActividades .actividadEspecial img { cursor: pointer; }
.contenedor .contenido .contenedorOtrasActividades .img { width: 100%; height: 100%; object-fit: cover; /* Para que la imagen no se deteriore si pierde resolución */ }
.contenedor .contenido .contenedorOtrasActividades .contenedor-img { /* Este contenedor se sale del grupo y se fija al navegador */ position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 50; transform: translateX(-100%); /* Ocultamos la imagen en dirección izquierda */ background: rgba(0, 0, 0, 0.7); /* Centramos vertical y horizontalmente la imagen de tipo lightbox */ display: flex; justify-content: center; align-items: center; transition: transform .4s ease-in; }
.contenedor .contenido .contenedorOtrasActividades .moverContenedor { transform: translateX(0); }
.contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 95%; transform: scale(0); display: block; object-fit: cover; transition: transform .2s .4s; }
.contenedor .contenido .contenedorOtrasActividades .mostrar-img { transform: scale(1); }
.contenedor .contenido .contenedorOtrasActividades .texto { position: fixed; color: #fff; bottom: 1em; }
.contenedor .contenido .contenedorOtrasActividades .btn { position: absolute; top: 0.5em; right: 0.75em; font-size: 2.5em; color: #fff; cursor: pointer; }

/******************** Estilos para dispositivos móviles ***********************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* Created on : 11/02/2024, 07:29:26 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla mayor a 1424px y menor que 1648px */
@media screen and (min-width: 1424px) and (max-width: 1647.98px) { .contenedor { grid-template-rows: 13.75em repeat(10, 1fr); }
  .contenedor .encabezado .logo img { width: 60%; padding: 1.5em; }
  .contenedor .encabezado .menu a { font-size: 1em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 75%; }
  .contenedor .contenido h1 { font-size: 1.75em; }
  .contenedor .contenido hr { height: 0.2em; margin-bottom: 1.25em; }
  .contenedor .contenido .contenedorActividades { grid-gap: 0 1em; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 1.5em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.9em; }
  .contenedor .contenido .contenedorOtrasActividades { grid-gap: 0.75em; /*                .texto { font-size: 0.85em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 1.5em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.9em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 95%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 2em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:35:51 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla mayor a 1200px y menor que 1424px */
@media screen and (min-width: 1200px) and (max-width: 1423.98px) { .contenedor { grid-template-rows: 12.75em repeat(10, 1fr); }
  .contenedor .encabezado .logo img { width: 55%; padding: 1.5em; }
  .contenedor .encabezado .menu a { font-size: 1em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 75%; }
  .contenedor .contenido h1 { font-size: 1.75em; }
  .contenedor .contenido hr { height: 0.1em; margin-bottom: 1em; }
  .contenedor .contenido .contenedorActividades { grid-gap: 0 1em; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 1.25em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.9em; }
  .contenedor .contenido .contenedorOtrasActividades { grid-gap: 0.75em; /*                .texto { font-size: 0.85em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 1.25em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.9em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 90%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 2em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:36:36 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla mayor a 992px y menor que 1200px */
@media screen and (min-width: 992px) and (max-width: 1199.98px) { .contenedor { grid-template-rows: 11em repeat(10, 1fr); }
  .contenedor .encabezado .logo img { width: 50%; padding: 1.25em; }
  .contenedor .encabezado .menu a { font-size: 0.85em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 80%; }
  .contenedor .contenido h1 { font-size: 1.5em; }
  .contenedor .contenido hr { height: 0.1em; margin-bottom: 0.75em; }
  .contenedor .contenido .contenedorActividades { grid-gap: 0 1em; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 1em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.75em; }
  .contenedor .contenido .contenedorOtrasActividades { grid-gap: 0.5em; /*                .texto { bottom: 1.5em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 1em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.75em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 85%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 2em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* Created on : 11/02/2024, 07:28:05 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla mayor a 768px y menor que 992px */
@media screen and (min-width: 768px) and (max-width: 991.98px) { .contenedor { grid-template-rows: 10.25em repeat(10, 1fr); }
  .contenedor .encabezado .logo img { width: 45%; padding: 1em; }
  .contenedor .encabezado .menu a { font-size: 0.85em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 80%; }
  .contenedor .contenido h1 { font-size: 1.5em; }
  .contenedor .contenido hr { height: 0.1em; margin-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades { display: flex; flex-direction: column; grid-gap: 0 0.5em; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 1em; }
  .contenedor .contenido .contenedorActividades .grupoUno { border-bottom: 0.125em solid #b59a47; padding-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades .grupoDos h2 { margin-top: 1.25em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.75em; }
  .contenedor .contenido .contenedorOtrasActividades { display: flex; flex-direction: column; /*                .texto { bottom: 2em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 1em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.75em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 75%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 1.75em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:35:15 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla mayor a 576px y menor que 768px */
@media screen and (min-width: 576px) and (max-width: 767.98px) { .contenedor { grid-template-rows: 7em repeat(10, 1fr); }
  .contenedor .encabezado .logo { /*                .btnMenu { display: inline-block; font-size: 1.5em; padding-right: 1em; }*/ }
  .contenedor .encabezado .logo img { width: 40%; padding: 1em; }
  .contenedor .encabezado .menu a { font-size: 0.75em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 85%; }
  .contenedor .contenido h1 { font-size: 1.25em; }
  .contenedor .contenido hr { height: 0.1em; margin-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades { display: flex; flex-direction: column; grid-gap: 0 0.5em; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 0.85em; }
  .contenedor .contenido .contenedorActividades .grupoUno { border-bottom: 0.125em solid #b59a47; padding-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades .grupoDos h2 { margin-top: 1.25em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.6em; }
  .contenedor .contenido .contenedorOtrasActividades { display: flex; flex-direction: column; /*                .texto { bottom: 2em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 0.85em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.6em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 65%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 1.5em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:33:53 PM Author     : pcgc7
*/
/* Estilos para dispositivos con tamaño de pantalla máximo de 576px */
@media screen and (max-width: 575.98px) { .contenedor { grid-template-rows: 5.75em repeat(10, 1fr); }
  .contenedor .encabezado .logo img { width: 35%; padding: 1em; }
  .contenedor .encabezado .logo .btnMenu { display: inline-block; font-size: 1.5em; padding-right: 1em; }
  .contenedor .encabezado .menu a { font-size: 0.75em; padding: 0.5em 1em; }
  .contenedor .encabezado .menu a i { margin-right: 0.75em; }
  .contenedor .contenido { max-width: 85%; }
  .contenedor .contenido h1 { font-size: 1.25em; }
  .contenedor .contenido hr { height: 0.1em; margin-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades { display: flex; flex-direction: column; }
  .contenedor .contenido .contenedorActividades h2 { font-size: 0.85em; }
  .contenedor .contenido .contenedorActividades .actividad { font-size: 0.6em; }
  .contenedor .contenido .contenedorActividades .grupoUno { border-bottom: 0.125em solid #b59a47; padding-bottom: 0.5em; }
  .contenedor .contenido .contenedorActividades .grupoDos h2 { margin-top: 1.25em; }
  .contenedor .contenido .contenedorOtrasActividades { display: flex; flex-direction: column; /*                .texto { font-size: 0.7em; bottom: 1.5em; }*/ }
  .contenedor .contenido .contenedorOtrasActividades h2 { font-size: 0.85em; }
  .contenedor .contenido .contenedorOtrasActividades .actividad { font-size: 0.6em; }
  .contenedor .contenido .contenedorOtrasActividades .img-mostrar { height: 55%; }
  .contenedor .contenido .contenedorOtrasActividades .btn { font-size: 1.5em; } }
/******************************************************************************/

/*# sourceMappingURL=actividades.css.map */
