@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:16:29 PM Author     : pcgc7
*/
/****************************** Variables *************************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:48:51 PM Author     : pcgc7
*/
/******************** Estilos generales de la página **************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:48:36 PM Author     : pcgc7
*/
* { box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; background-image: url("../imagenes/fondoAzul.jpg"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }

::-webkit-scrollbar { display: none; }

/******************** Estilos contenedor de la página *************************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:46:40 PM Author     : pcgc7
*/
.contenedor { display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 16em repeat(9, 1fr); grid-template-areas: "encabezado encabezado encabezado encabezado encabezado encabezado" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto" "contacto   contacto   contacto   contacto   contacto   contacto"; /******************** Estilos encabezado de la página *********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 06:48:20 PM Author     : pcgc7
*/ /******************** Estilos contenidos de la página *********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 06:47:01 PM Author     : pcgc7
*/ /**************************************************************************/ }
.contenedor .encabezado { grid-area: encabezado; width: 100%; position: fixed; top: 0; z-index: 20; background: linear-gradient(to right, #f5f5f5 0%, #b59a47 100%); box-shadow: 0 0.75em 0.75em 0 rgba(0, 0, 0, 0.5); }
.contenedor .encabezado .logo { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.contenedor .encabezado .logo img { width: 73%; margin: 2.2em 1em; }
.contenedor .encabezado .logo .btnMenu { display: none; color: #003958; text-decoration: none; font-size: 1.5em; }
.contenedor .encabezado .menu { display: flex; flex-direction: row; justify-content: space-around; border-top: 0.0625em solid #003958; }
.contenedor .encabezado .menu a { padding: 0.5em 0; margin: 0.5em 0; font-size: 1.25em; font-weight: 700; color: #003958; text-decoration: none; transition: all 0.3s ease; border-bottom: 0.16em solid transparent; }
.contenedor .encabezado .menu a:hover { border-bottom: 0.16em solid #003958; }
.contenedor .encabezado .menu i { margin-right: 0.5em; }
.contenedor .contenido { grid-area: contacto; max-width: 66.7%; margin: 0 auto; padding: 1.25em; background: #f5f5f5; border-radius: 0.625em; border: 0.125em solid #b59a47; box-shadow: 0 0.75em 0.75em 0 rgba(0, 0, 0, 0.5); /******************** Estilos contenedor formulario ***********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 07:36:34 PM Author     : pcgc7
*/ /****************************** Mixin *****************************************/ /******************************************************************************/ /******************** Estilos contenedor ubicación ************************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 07:37:23 PM Author     : pcgc7
*/ /****************************** Mixin *****************************************/ /******************************************************************************/ /**************************************************************************/ }
.contenedor .contenido h1 { font-weight: bold; margin: 0.3125em 0; color: #003958; }
.contenedor .contenido hr { margin: 0.5em 0; height: 0.2em; background: #b59a47; border: none; }
.contenedor .contenido .contenedorFormulario { display: grid; grid-gap: 0 1.5em; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(1, 1fr); }
.contenedor .contenido .contenedorFormulario .formulario { display: flex; flex-direction: column; justify-content: space-between; align-content: flex-start; background: #ddd; border-radius: 0.3125em; /******************** Estilos validaciones formulario *********************/ /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/ /*  Created on : 27/10/2022, 07:43:00 PM Author     : pcgc7
*/ /****************************** Mixin *****************************************/ /******************************************************************************/ /******************** Estilos para las validaciones en PHP ********************/ /**************************************************************************/ }
.contenedor .contenido .contenedorFormulario .formulario h3 { padding-left: 0.5em; color: #003958; }
.contenedor .contenido .contenedorFormulario .formulario .frmLabel { padding-left: 0.5em; color: #003958; font-weight: 700; }
.contenedor .contenido .contenedorFormulario .formulario input[type=text] { height: 2.85em; font-family: Arial, sans-serif; width: 95%; margin: 0.5em; padding: 0.5em; border: 0.0625em solid #ddd; border-radius: 0.25em; /* Permite al usuario redimensionar verticalmente el área de texto (y no horizontalmente) */ resize: vertical; }
.contenedor .contenido .contenedorFormulario .formulario textarea { height: 10em; font-family: Arial, sans-serif; width: 95%; margin: 0.5em; padding: 0.5em; border: 0.0625em solid #ddd; border-radius: 0.25em; /* Permite al usuario redimensionar verticalmente el área de texto (y no horizontalmente) */ resize: vertical; }
.contenedor .contenido .contenedorFormulario .formulario .frmBoton { width: 30%; height: 2.85em; margin: 0.5em; line-height: 1.75em; border: 0.125em solid #003958; background-color: #ddd; color: #003958; font-weight: bold; border-radius: 0.25em; }
.contenedor .contenido .contenedorFormulario .formulario .frmBoton:hover { background: #003958; color: #b59a47; cursor: pointer; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_grupo_input { position: relative; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_input:focus { border: 0.1875em solid #0075ff; outline: none; box-shadow: 0.1875em 0 1.875em rgba(163, 163, 163, 0.4); }
.contenedor .contenido .contenedorFormulario .formulario .formulario_input_error { font-size: 0.75em; margin: 0; padding-left: 0.75em; color: #cc0000; font-style: italic; font-weight: 600; display: none; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_input_error-activo { display: block; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_validacion_estado { position: absolute; right: 2.5em; bottom: 1.45em; z-index: 10; font-size: 1em; opacity: 0; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_grupo-correcto .formulario_validacion_estado { color: #1ed12d; opacity: 1; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_grupo-incorrecto .frmLabel { color: #cc0000; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_grupo-incorrecto .formulario_validacion_estado { color: #cc0000; opacity: 1; }
.contenedor .contenido .contenedorFormulario .formulario .formulario_grupo-incorrecto .formulario_input { border: 0.1875em solid #cc0000; }
.contenedor .contenido .contenedorFormulario .formulario .error { background-color: #f66060; font-size: 0.8em; padding: 1em; font-weight: 600; margin: 0; }
.contenedor .contenido .contenedorFormulario .formulario .correcto { background-color: #1ed12d; font-size: 0.8em; padding: 1em; font-weight: 600; margin: 0; }
.contenedor .contenido .ubicacion { display: flex; flex-direction: column; align-content: flex-start; background: #ddd; border-radius: 0.3125em; }
.contenedor .contenido .ubicacion .contenedorMapa h3 { padding: 0 0.5em; color: #003958; }
.contenedor .contenido .ubicacion .contenedorMapa p { padding: 0 0.5em; font-weight: 700; color: #003958; }
.contenedor .contenido .ubicacion .contenedorMapa .mapa { padding: 0 0.5em; }
.contenedor .contenido .ubicacion .contenedorMapa .mapa iframe { height: 21.25em; }
.contenedor .contenido .ubicacion .contenedorDatos h3 { padding: 0 0.5em; color: #003958; }
.contenedor .contenido .ubicacion .contenedorDatos p { font-weight: 700; color: #003958; }
.contenedor .contenido .ubicacion .contenedorDatos .datos { display: grid; grid-template-columns: 4em 1fr; grid-template-rows: repeat(1, 3.25em); align-items: center; }
.contenedor .contenido .ubicacion .contenedorDatos .datos .icono { margin: 0 auto; font-size: 2em; color: #003958; }
.contenedor .contenido .ubicacion .contenedorDatos a { text-decoration: none; font-weight: 700; color: #003958; }

/******************** Estilos para dispositivos móviles ***********************/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:48:05 PM Author     : pcgc7
*/
/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 1280px */
@media screen and (max-width: 1280px) { .contenedor { grid-template-rows: 12.75em repeat(9, 1fr); }
  .contenedor .encabezado .logo img { width: 65%; margin: 1.5em 1em; }
  .contenedor .encabezado .menu a { font-size: 1em; }
  .contenedor .contenido { max-width: 85%; padding: 1em; }
  .contenedor .contenido h1 { font-size: 1.75em; }
  .contenedor .contenido .contenedorFormulario { grid-gap: 0 1em; }
  .contenedor .contenido .contenedorFormulario .formulario h3 { font-size: 0.95em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmLabel { font-size: 0.8em; }
  .contenedor .contenido .contenedorFormulario .formulario input[type=text] { padding: 0.4em; }
  .contenedor .contenido .contenedorFormulario .formulario input[placeholder] { font-size: 0.8em; }
  .contenedor .contenido .contenedorFormulario .formulario textarea { padding: 0.4em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmBoton { width: 25%; font-size: 0.8em; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_validacion_estado { bottom: 1.1em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa h3 { font-size: 0.95em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa p { font-size: 0.85em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa .mapa iframe { height: 20em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos h3 { font-size: 0.95em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos .datos { font-size: 0.85em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:47:50 PM Author     : pcgc7
*/
/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 1024px */
@media screen and (max-width: 1024px) { .contenedor { grid-template-rows: 10.5em repeat(9, 1fr); }
  .contenedor .encabezado .logo img { width: 55%; margin: 1em; }
  .contenedor .encabezado .menu a { font-size: 0.75em; }
  .contenedor .contenido { padding: 0.75em; }
  .contenedor .contenido h1 { font-size: 1.5em; }
  .contenedor .contenido .contenedorFormulario { grid-gap: 0 0.75em; }
  .contenedor .contenido .contenedorFormulario .formulario h3 { font-size: 0.77em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmLabel { font-size: 0.7em; }
  .contenedor .contenido .contenedorFormulario .formulario input[type=text] { height: 2.75em; margin: 0.4em; }
  .contenedor .contenido .contenedorFormulario .formulario input[placeholder] { font-size: 0.75em; }
  .contenedor .contenido .contenedorFormulario .formulario textarea { height: 8em; margin: 0.4em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmBoton { font-size: 0.75em; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_input_error { font-size: 0.625em; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_validacion_estado { bottom: 1.05em; font-size: 0.85em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa h3 { font-size: 0.77em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa p { font-size: 0.7em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa .mapa iframe { height: 19em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos h3 { font-size: 0.77em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos .datos { font-size: 0.7em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:47:32 PM Author     : pcgc7
*/
/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 768px */
@media screen and (max-width: 768px) { .contenedor { grid-template-rows: 9em repeat(9, 1fr); }
  .contenedor .encabezado .logo img { width: 45%; }
  .contenedor .encabezado .menu a { font-size: 0.6em; }
  .contenedor .contenido h1 { font-size: 1.25em; }
  .contenedor .contenido .contenedorFormulario { display: flex; flex-direction: column; }
  .contenedor .contenido .contenedorFormulario .formulario .frmLabel { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .formulario input[placeholder] { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmBoton { width: 20%; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_input_error { font-size: 0.5em; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_validacion_estado { right: 3.5em; bottom: 1.1em; font-size: 0.7em; }
  .contenedor .contenido .contenedorFormulario .ubicacion { margin-top: 0.5em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa p { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos .datos { font-size: 0.65em; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : 27/10/2022, 06:47:18 PM Author     : pcgc7
*/
/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 576px */
@media screen and (max-width: 576px) { .contenedor { grid-template-rows: 5.25em repeat(9, 1fr); }
  .contenedor .encabezado .logo { justify-content: space-between; margin-right: 1em; }
  .contenedor .encabezado .logo img { width: 35%; margin: 0.75em; }
  .contenedor .encabezado .logo .btnMenu { display: inline-block; font-size: 1.25em; }
  .contenedor .encabezado .menu a { margin: 0.3em 1em; }
  .contenedor .contenido { padding: 0.5em; }
  .contenedor .contenido h1 { font-size: 1em; }
  .contenedor .contenido .contenedorFormulario .formulario h3 { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmLabel { font-size: 0.6em; }
  .contenedor .contenido .contenedorFormulario .formulario input[type=text], .contenedor .contenido .contenedorFormulario .formulario textarea { margin: 0.3em; }
  .contenedor .contenido .contenedorFormulario .formulario input[placeholder] { font-size: 0.6em; }
  .contenedor .contenido .contenedorFormulario .formulario .frmBoton { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .formulario .formulario_validacion_estado { right: 3.25em; bottom: 1.2em; font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa h3 { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa p { font-size: 0.6em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorMapa .mapa iframe { height: 15em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos h3 { font-size: 0.65em; }
  .contenedor .contenido .contenedorFormulario .ubicacion .contenedorDatos .datos { font-size: 0.6em; } }
/******************************************************************************/

/*# sourceMappingURL=contacto.css.map */
