/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 04:47:04 PM
    Author     : pcgc7
*/

/********************************* Mixin **************************************/

@mixin flechas {
    position: absolute;
    top: 39%;
    z-index: 30;
    color: $colorAzul;
    width: 1.5em;
    font-size: 4em;
    text-align: center;
    &:hover {
        cursor: pointer;
        color: $colorDorado; 
    }
}
@mixin anchoImagen {
    width: 85%;
}
@mixin altoImagen {
    height: 85%;
}

/******************************************************************************/

.carrusel {
    grid-area: imagenes;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
                
    background-image: $imgBackground_2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .contenedor-imagenes {               
        max-width: 85%;        
        .items {
            @include anchoImagen;  
            @include altoImagen;
            margin: 3.5em 2.15em; 
            position: relative;
            img {
                @include anchoImagen;  
                @include altoImagen;
                border: 0.5em double $colorAzul;
                border-radius: 0.5em;
                padding: 0.5em;
                transition: all linear .4s;                
            }
            .overlay {
                @include anchoImagen;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;                               
                border-radius: 0.5em;    
                background: rgba(0, 0, 0, 0.5);
            }            
        }
        ul {
            &.slick-dots {
                padding: 0;
            }
        }
        .slick-center {
            .overlay {
                 opacity: 0;
            }
            img {
                transform: scale(1.2);
            }  
        }
        .flecha-previo, .flecha-siguiente {
            @include flechas;
        }
        .flecha-previo {             
            left: -8%;            
        }
        .flecha-siguiente {            
            right: -8%;            
        }        
        .slick-dots {
            position: relative;
            bottom: 0;
            left: 0;
            width: 30%;
            z-index: 30;
            text-align: center;
            margin: 0 auto;
            li {
                list-style: none;
                width: 0.75em;
                height: 0.75em;
                background: $colorAzul;
                border-radius: 50%;
                display: inline-block;
                margin: 0.35em;
                &.slick-active {
                    background: $colorDorado;
                }
                button {
                    display: none;
                }
            }
        }        
    }
}