/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 04:38:08 PM
    Author     : pcgc7
*/

/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 1024px */
@media screen and (max-width: 1024px) {
    .contenedor  {
        grid-template-rows: repeat(13, 7em);
        .encabezado {
            .logo {
                img {
                    width: 21.75%;
                    margin: 1.5em 1em;
                }
            }
        }
        .contenido {
            grid-template-rows: repeat(10, 7em);
            .imagenFondo {
                background-size: 100% 100%;
                .fondoMenu {
                    .marcoTitulo {
                        margin: 2em 0;
                    }
                    .menu {
                        margin-top: 1.75em;
                        .opcion {
                            font-size: 2.5em;
                        }
                        .tituloItem {
                            font-size: 1em;
                        }
                    }        
                }
            }
            .carrusel {
                .contenedor-imagenes {
                    max-width: 55em;
                    padding: 2em 0;
                    .flecha-previo {
                        font-size: 3em;
                        left: -7%;
                    }
                    .flecha-siguiente {
                        font-size: 3em;
                        right: -7%;
                    }
                    .items {
                        margin: 4.5em 1.65em;
                        width: 15em;
                        height: 16em;
                        img {
                            width: 15em;
                            height: 16em;
                        }
                        .overlay {
                            width: 15em;
                            height: 16em;
                        }
                    }
                    ul {
                        &.slick-dots {
                            padding: 0;
                        }
                    }
                    .slick-dots {
                        bottom: 1.5em;                        
                    }
                }
            }
            .wave {
                top: -5.75em;
            }
        }
        .contenedorPiepagina {
            .columna-menu {
                h2 {
                   font-size: 0.9em; 
                }
                ul {
                   font-size: 0.6em;
                   line-height: 3em;
                }
            }
            .columna-redes {
                h2 {
                   font-size: 0.9em; 
                }
                redes {
                    line-height: 2.45em;
                    a {
                       font-size: 0.6em; 
                    }
                    .icono {
                       font-size: 1.25em; 
                    }
                }
            }
            .columna-contacto {
                h2 {
                   font-size: 0.9em; 
                }
                .datos {
                    line-height: 2.45em;
                    a {
                        font-size: 0.6em;
                    }
                    label {
                        font-size: 0.6em;
                    }
                    .icono {
                        font-size: 1.25em;
                    }
                }
            }
            .contenedorInformacion {
                font-size: 0.6em;        
            }
        }
    }                             
}