/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 04:41:16 PM
    Author     : pcgc7
*/

/* Estilos para dispositivos con tamaño de pantalla mayor a 576px y menor que 768px */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .contenedor {
        grid-template-rows: repeat(12, 5.55em);
        .encabezado {
            .logo {
                img {
                    width: 40%;
                    padding-left: 1em;
                }
            }
        }
        .contenido {
            grid-template-rows: repeat(9, 5.55em);
            .imagenFondo {
                .fondoMenu {
                    height: 55%;
                    .marcoTitulo {
                        margin: 1em 0;
                        .titulo {
                            font-size: 0.75em;
                            margin: 1em 0;  
                        }
                    }
                    .menu {
                        margin-top: 3.75em;
                        .item {
                            width: 20%;
                            padding-top: 0.75em; 
                            padding-bottom: 0em;   
                            background-color: $colorWhitesmoke;
                            .opcion {
                                font-size: 1.5em;
                            }
                            .tituloItem {
                                font-size: 0.75em;
                                margin: 1em 0;  
                            }
                        }                        
                    }
                }
            }
            .carrusel {                
                .contenedor-imagenes {
                    max-width: 85%;                     
                    .flecha-previo {
                        font-size: 1.5em;
                        left: -7%;
                    }
                    .flecha-siguiente {
                        font-size: 1.5em;
                        right: -7%;
                    }
                    .items {                        
                        margin: 3.5em 0.8em;
                        width: 85%;
                        height: 85%;        
                        img {
                            width: 85%;
                            height: 85%;   
                            padding: 0.25em;
                        }
                        .overlay {
                            width: 85%;
                            height: 98%;        
                        }
                    }
                    .slick-dots {
                        width: 30%;
                        bottom: 2em;                        
                        li {
                            width: 0.5em;
                            height: 0.5em;  
                        }
                    }
                }
            }
        }
        .contenedorPiepagina {               
            .contenidoFooter {
                padding-top: 2em;
                padding-bottom: 0em;
                .columna-logo {
                    display: none;                
                    img {
                        display: none;
                    }
                }
                .columna-menu {
                    h2 {
                        font-size: 0.7em;
                    }
                    ul {
                        padding-left: 0.25em;                        
                        li {
                            font-size: 0.65em;
                            line-height: 1.75em;
                            
                        }                    
                    }
                }
                .columna-redes {
                    h2 {
                        font-size: 0.7em;
                    }
                    .redes {                        
                        .icono {
                            font-size: 0.65em;
                        }
                        a {
                            font-size: 0.65em;
                            line-height: 2.25em;
                        }
                    }
                }
                .columna-contacto {
                    h2 {
                        font-size: 0.7em;
                    }
                    .datos {
                        line-height: 1.5em;
                        .icono {
                            font-size: 0.65em;
                        }
                        a {
                            font-size: 0.65em;
                        }
                        label {
                            font-size: 0.65em;
                        }
                    }
                }
            }
            .contenedorInformacion {                
                font-size: 0.65em;
            }
        }        
    }
}