/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 04:32:07 PM
    Author     : pcgc7
*/

/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 1280px */
@media screen and (max-width: 1280px) {
    .contenedor  {
        grid-template-rows: repeat(13, 8em);
        .encabezado {
            .logo {
                img {
                    width: 18.75%;
                    margin: 1.75em 1em;
                }
            }
        }
        .contenido {
            grid-template-rows: repeat(10, 8em);
            .imagenFondo {
                background-size: 100% 100%;
                .fondoMenu {
                    .marcoTitulo {
                        margin: 2.5em 0;
                        .titulo {
                            font-size: 1.2em;
                            &::after {
                                top: -1.5em;
                            }
                        }
                    }
                    .menu {
                        margin-top: 3em;
                        .opcion {
                            font-size: 3em;
                        }
                        .tituloItem {
                            font-size: 1em;
                        }
                    }        
                }
            }        
            .carrusel {
                .contenedor-imagenes {
                    max-width: 65em; 
                    padding: 4em 0;            
                    .flecha-previo {
                        font-size: 4em;                        
                    }
                    .flecha-siguiente {
                        font-size: 4em;                        
                    }
                    .items {
                        margin: 4.5em 2.25em;
                        width: 17em;
                        height: 17em;  
                        img {
                            padding: 0.25em;
                            width: 17em;
                            height: 17em;  
                        }
                        .overlay {
                            width: 17em;
                            height: 17em;  
                        }
                    }
                    .slick-dots {
                        width: 20%;
                        bottom: 1em;
                    }
                }
            }
           .wave {
                top: -7.15em;
            }
        }
        .contenedorPiepagina {
            justify-content: space-around;
            .columna-menu {
                h2 {
                    font-size: 1.2em;
                }
                ul {
                    font-size: 0.85em;
                    padding-left: 0.25em;
                }                
            }
            .columna-redes {
                h2 {
                    font-size: 1.2em;
                }
                .redes {
                    line-height: 3em;
                    a {
                        font-size: 0.85em; 
                    }
                    label {
                        margin-left: 0.75em;
                    }
                    .icono {
                        font-size: 1.5em;
                    }
                }
            }
            .columna-contacto {
                h2 {
                    font-size: 1.2em;
                }
                .datos {
                    line-height: 3em;
                    a {
                        font-size: 0.85em;
                        margin-left: 0.75em;
                    }
                    label {
                        font-size: 0.85em;
                        margin-left: 0.75em;
                    }
                    .icono {
                        font-size: 1.5em;
                    }
                }
            }
            .contenedorInformacion {
                font-size: 0.85em;
            }
        }
    }    
}