/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 04:23:23 PM
    Author     : pcgc7
*/

$colorAzul: #003958;
$colorDorado: #b59a47;
$colorBlanco: #fff;
$colorWhitesmoke: #f5f5f5;
$colorAlabaster: #f2f0e6;
$colorSilver: #ccc;
$colorOscuro: #333;

$tipoFuente_1: 'Open Sans', sans-serif;
$sombra: 0 0.75em 0.75em 0 rgba(0,0,0,0.5);
$gradiente: linear-gradient(to right, $colorWhitesmoke 0%, $colorDorado 100%);
$transparencia_1: rgba(255,255,255,0.5);

$imgBackground_1: url('../imagenes/fondoIglesia.jpg');
$imgBackground_2: url('../imagenes/imgMuro_5.png');