/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 06:37:51 PM
    Author     : pcgc7
*/

* {
    box-sizing: border-box;
}

body {
    font-family: $tipoFuente_1;
    background-image: $rutaImgAzul;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}