/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11/02/2024, 05:02:18 PM
    Author     : pcgc7
*/

/* Estilos para dispositivos con tamaño de pantalla mayor a 768px y menor que 992px */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .contenedor {
        grid-template-rows: 10.25em repeat(10, 1fr);
        .encabezado {
            .logo {                
                img {
                    width: 45%;
                    padding: 1em;
                }
            }
            .menu {
                a {
                    font-size: 0.85em;
                    padding: 0.5em 1em;
                    i {
                        margin-right: 0.75em;
                    }
                }
            }
        }
        .contenido {
            max-width: 80%;
            .btnVolverArriba {         
                font-size: 1em;                                    
                right: 1.25em; 
                i {
                    position: relative;
                    right: 0.2em;
                }
            }
            article {
                h1 {
                    font-size: 1.25em; 
                }
                hr {
                    height: 0.1em; 
                    margin-bottom: 0.75em; 
                }
                h3 {
                    font-size: 0.75em;
                }
                p {
                    font-size: 0.75em; 
                }
                .formatoNumeros {
                    font-size: 0.75em;
                    margin-left: -2.35em;
                }
                .formatoLetras {
                    font-size: 0.75em;
                    margin-left: -2.35em;
                }
                .textoVinetas1 {
                    font-size: 0.75em;
                    margin-left: -2em;
                }
                .textoVinetas2 {
                    font-size: 0.75em; 
                    margin-left: -2em;
                }
                blockquote {
                    font-size: 0.75em; 
                }
                .textoGrande {
                    width: 6.5em;                                         
                    height: 5.5em; 
                    font-size: 2em;  
                    border-right: 0.125em solid $colorDorado;
                }
            }        
        }
    }    
}