/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2022, 07:36:34 PM
    Author     : pcgc7
*/

/****************************** Mixin *****************************************/

@mixin cuadrosInput {
    font-family: Arial, sans-serif;
    font-size: 1em;
    width: 95%;
    margin: 0.5em;
    padding: 0.5em;
    border: 0.0625em solid $colorSilver;
    border-radius: 0.25em;
    /* Permite al usuario redimensionar verticalmente el área de texto (y no horizontalmente) */
    resize: vertical 
}

/******************************************************************************/

.contenedorFormulario {
    display: grid;    
    
    grid-gap: 0 1.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
        background: $colorSilver;
        border-radius: 0.3125em;
        .grupo {
            margin-bottom: 1em;
        }
        h3 {
            font-size: 1.15em;
            padding-left: 0.5em;
            color: $colorAzul;
        }
        .frmLabel {
            font-size: 1em;
            padding-left: 0.5em;
            color: $colorAzul;
            font-weight: 700;
        }
        input[type=text] {
            height: 2.75em;
            @include cuadrosInput; 
        }
        textarea {
            height: 10em;
            @include cuadrosInput;
        }
        .frmBoton {
            width: 30%;
            height: 2.75em;
            margin: 0.5em;
            font-size: 1em;
            line-height: 1.75em;
            border: 0.125em solid $colorAzul;
            background-color: $colorSilver;
            color: $colorAzul;
            font-weight: bold;
            border-radius: 0.25em;            
            &:hover {
                background: $colorAzul;
                color: $colorDorado;
                cursor: pointer;
            }
        }
        
    /******************** Estilos validaciones formulario *********************/
    
    @import "_validaciones.scss";
    
    /**************************************************************************/        
    }
}